
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/1200x800);">
  <div class="container">
    <h1>Best restaurant in france just for you</h1>
    <p>choose the restaurant now !</p>
  </div>
</div>
